@font-face {
  font-family: 'Nitti';
  font-weight: 100;
  src: url('../webfonts/nitti-basic-px-light.eot');
  src: url('../webfonts/nitti-basic-px-light.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/nitti-basic-px-light.woff') format('woff'),
       url('../webfonts/nitti-basic-px-light.otf') format('truetype');
}