@import "_webfonts";

body {
  font-family: 'Nitti';
  font-weight: 100;
  color: #1d232d;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 60px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 500;
}

h1 {
  margin-top: 0;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 16px;
}

article {
  display: block;
  position: relative;
  max-width: 500px;
  margin: 30px 30px 100px;
  font-size: 15px;
  line-height: 1.75em;
  z-index: 10;
}

em {
  color: red;
}

blockquote {
  border-left: 1px solid #1d232d;
  margin: 40px 0;
  padding-left: 20px;
}

a {
  color: blue;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;

  li {
    border-left: 1px solid #1d232d;
    padding-left: 20px;
    margin-bottom: 15px;
  }

  &:last-child {
    font-size: 14px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 30px 15px;
  z-index: 30;

  .footer__item {
    margin-right: 10px;
    color: lighten(#1d232d, 30);
    font-size: 14px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.6);

    a {
      color: #1d232d;

      &:hover {
        border-bottom: 1px solid #1d232d;
      }
    }

    &:last-child {
      float: right;
      margin-right: 0;
    }
  }
}

.loading {
  position: absolute;
  width: 100%;
  z-index: 10;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
       -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  &.is-hidden {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;
            transition: opacity 0.5s ease-in;
  }
}

.loading__image {
  display: inline-block;
  width: 250px;
  margin-bottom: 30px;
}

.loading__btn {
  display: inline-block;
  cursor: pointer;
  padding: 0 20px;
  height: 38px;
  line-height: 38px;
  color: #FFF;
  background: #1d232d;
  border: 2px solid #1d232d;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;

  &:hover {
    background: none;
    color: #1d232d;
  }
}