!!!
%html
  %head
    %title Disserboid
    %link{ :href => "assets/css/application.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #essay
      %h1 A queen ant, a hacker and a sci-fi writer walk into a bar.
    #content
    %script{ :src => "assets/js/libs/jquery/jquery.js" }
    %script{ :src => "assets/js/app.js" }