<!doctype html>
<html>
  <head>
    <title>A queen ant, a hacker and a sci-fi writer walk into a bar.</title>
    <link href="css/application.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//use.typekit.net/sct0gqh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="buttons">
      <button id="restart-button">Rejumble</button>
      <button id="real-button">Read the real essay</button>
    </div>
    <div id="essay">
      <h1>A queen ant, a hacker and a sci-ﬁ writer walk into a bar.</h1>
      <div class="intro">
        <p>An essay by <a href="#">Thomas Bates</a></p>
        <button id="start-button">View the essay</button>
      </div>
      <div class="body"></div>
      <div class="references">
        <h3><span>References</span></h3>
        <ul>
          <li>Johnson, S 2001, <em>Emergence: the connected lives of ants, brains, cities, and software</em>, Penguin Press, London.</li>
          <li>Shirky, C 2008, <em>Here comes everybody: how change happens when people come together</em>, Penguin Press, London.</li>
          <li>Shirky, C 2010, <em>Cognitive surplus: creativity and generosity in a connected age</em>, Allen Lane, London.</li>
          <li>Gordon, D 2010, <em>Ant encounters: interaction networks and colony behaviour (primers in complex systems)</em>, Princeton University Press.</li>
          <li>Christian, B 2011, <em>The most human human</em>, Doubleday, New York.</li>
          <li>Asmiov, I 1950, <em>I, robot</em>, Gnome Press, New York.</li>
          <li>Curtis, A 2011, <em>All watched over by machines of loving grace</em>, 4 July 2011 online video, viewed 20 September 2011, <a href="http://vimeo.com/25966415">vimeo.com/25966415</a></li>
          <li>Stone, B 2010, <em>Hello World, Twitter</em>, viewed 20 Oct 2012, <a href="http://blog.twitter.com/2010/04/hello-world.html">blog.twitter.com/2010/04/hello-world.html</a></li>
          <li>Rudenberg J, Siders D, Stuart J,  Wojciechowski L, <em>Tent - the decentralized social network</em>, Tent, viewed 10th Oct 2012, <a href="https://tent.io/about">tent.io/about</a></li>
          <li>Stephenson, N 2012, <em>Dear science fiction writers: stop being so pessimistic</em>, Smithsonian, viewed 24th October 2012, <a href="http://www.smithsonianmag.com/science-nature/Dear-Science-Fiction-Writers-Stop-Being-So-Pessimistic.html">smithsonianmag.com/science-nature/Dear-Science-Fiction-Writers-Stop-Being-So-Pessimistic.html</a></li>
          <li><em>Emergence</em>, Wikipedia, viewed 4th September 2012, <a href="https://en.wikipedia.org/wiki/Emergence">wikipedia.org/wiki/emergence</a></li>
          <li>‘The Matrix’ 1999, Film. United States, Warner Bros. Pictures. Directed and written by Andy and Lana Wachowski.</li>
          <li>‘TRON’ 1982, Film. United States, Walt Disney Productions. Directed by Steven Lisberger.</li>
          <li>‘TRON: Legacy’ 2010, Film. United States, Walt Disney Productions. Directed by Joseph Kosinski.</li>
        </ul>
      </div>
    </div>
    <div id="content">
      <canvas id="canvas" resize></div>
    </div>
    <script src="js/libs/jquery/jquery.js"></script>
    <script src="js/libs/showdown/showdown.js"></script>
    <script src="js/libs/mousetrap/mousetrap.js"></script>
    <script src="js/libs/paper/paper.js"></script>
    <script src="js/application.js" type="text/paperscript" canvas="canvas"></script>
    
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50a66206613f5d3b9400000b');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>