!!!
%html
  %head
    %title Disserboid
    %link{ :href => "css/application.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #essay
      - @paragraphs.each do |para|
        = Kramdown::Document.new(para).to_html
    #content
      %canvas#canvas{ :resize => true }
    %script{ :src => "js/libs/paper/paper.js" }
    %script{ :type => "text/paperscript", :canvas => "canvas" }
      :javascript