<!doctype html>
<html>
  <head>
    <title>A queen ant, a hacker and a sci-fi writer walk into a bar.</title>
    <link href="css/application.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//use.typekit.net/sct0gqh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <a id="button">Button</a>
    <div id="essay">
      <h1>A queen ant, a hacker and a sci-fi writer walk into a bar.</h1>
    </div>
    <div id="content">
      <canvas id="canvas" resize></div>
    </div>
    <script src="js/libs/jquery/jquery.js"></script>
    <script src="js/libs/showdown/showdown.js"></script>
    <script src="js/libs/paper/paper.js"></script>
    <script src="js/application.js" type="text/paperscript" canvas="canvas"></script>
  </body>
</html>