<!doctype html>
<html>
  <head>
    <title>Disserboid</title>
    <link href="css/application.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="essay">
      <%= Kramdown::Document.new(@paragraphs[0]).to_html %>
    </div>
    <div id="content">
      <canvas id="canvas" resize></div>
    </div>
    <script src="js/libs/jquery/jquery.js"></script>
    <script src="js/libs/paper/paper.js"></script>
    <script src="js/version2.js" type="text/paperscript" canvas="canvas"></script>
  </body>
</html>