.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
}
a img,
:link img,
:visited img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
body {
  margin: 0;
  padding: 0;
  color: #202020;
  font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  background: #FFF;
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
#timer {
  display: none;
  position: absolute;
  font-size: 42px;
  font-weight: 600;
}
#essay {
  position: relative;
  width: 600px;
  padding: 40px 0 40px 40px;
  z-index: 20;
}
#content {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#buttons {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 10;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin-bottom: 30px;
}
.intro p {
  color: #999;
  font-style: italic;
  margin-top: -20px;
}
.intro p a {
  color: #00adef;
}
h1 {
  font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 30px;
}
h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
p {
  font-family: "skolar", serif;
  font-size: 18px;
  line-height: 32px;
}
em {
  color: #999;
  font-style: italic;
}
blockquote {
  margin: 40px 0;
  padding-left: 30px;
  border-left: 3px solid #CCC;
}
blockquote p {
  margin-bottom: 10px;
}
blockquote p strong {
  font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
button {
  cursor: pointer;
  padding: 10px 15px 9px;
  border: none;
  background: #00ADEF;
  color: #FFF;
  font-family: "proxima-nova", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
button:hover {
  background: #006389;
}
