.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
}
a img,
:link img,
:visited img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 26px;
  background: #FFF;
  -webkit-font-smoothing: antialiased;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
#essay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 500px;
  overflow: scroll;
  padding: 40px;
  background: #FFF;
  border-right: 1px solid #EEE;
}
#content {
  position: fixed;
  left: 500px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #F8F8F8;
}
.box {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  left: 49%;
  top: 49%;
  background: #00ADEF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
