<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/application.css">
  </head>
  <body>
    <canvas id="vanGogh" resize></canvas>

    <!-- Scriptz -->
    <script src="{{ site.url }}/assets/js/lib/showdown.js"></script>
    <script src="{{ site.url }}/assets/js/lib/paper.js"></script>
    <script src="{{ site.url }}/assets/js/anthacker.writer.js"></script>
    <script src="{{ site.url }}/assets/js/anthacker.queen.js"></script>
    <script src="{{ site.url }}/assets/js/anthacker.ant.js"></script>
    <script src="{{ site.url }}/assets/js/anthacker.farm.js"></script>
    <script src="{{ site.url }}/assets/js/anthacker.js"></script>
    <!-- /Scriptz -->
  </body>
</html>